/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 */

p.trlike:before {
    content: " ";
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 100px
}

label.btn.btn-primary:not(.active) {
background-color: #999
}

/* Code from https://github.com/lipis/bootstrap-social/blob/gh-pages/bootstrap-social.css */
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-mastodon{color:#fff;background-color:#3088d4;border-color:rgba(0,0,0,0.2)}.btn-mastodon:focus,.btn-mastodon.focus{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-mastodon:hover{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-mastodon:active,.btn-mastodon.active,.open>.dropdown-toggle.btn-mastodon{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}.btn-mastodon:active:hover,.btn-mastodon.active:hover,.open>.dropdown-toggle.btn-mastodon:hover,.btn-mastodon:active:focus,.btn-mastodon.active:focus,.open>.dropdown-toggle.btn-mastodon:focus,.btn-mastodon:active.focus,.btn-mastodon.active.focus,.open>.dropdown-toggle.btn-mastodon.focus{color:#fff;background-color:#26455d;border-color:rgba(0,0,0,0.2)}
.btn-mastodon:active,.btn-mastodon.active,.open>.dropdown-toggle.btn-mastodon{background-image:none}
.btn-mastodon.disabled:hover,.btn-mastodon[disabled]:hover,fieldset[disabled] .btn-mastodon:hover,.btn-mastodon.disabled:focus,.btn-mastodon[disabled]:focus,fieldset[disabled] .btn-mastodon:focus,.btn-mastodon.disabled.focus,.btn-mastodon[disabled].focus,fieldset[disabled] .btn-mastodon.focus{background-color:#3088d4;border-color:rgba(0,0,0,0.2)}
.btn-mastodon .badge{color:#3088d4;background-color:#fff}
