<h3><%= t :connections %></h1>
<p><%= t :manage_your_accounts %></p>

<ul>
  <% @authorizations.each do |auth| %>
  <li>
    <% if auth.provider == 'twitter' %>
    Twitter
    <% else %>
    Mastodon
    <% end %>
    <%= link_to(t(:disconnect), authorization_path(auth), method: :delete) %>
  </li>
  <% end %>
</ul>
