<div class="content">
  <h1 class="title is-3"><%= t :connections %></h1>
  <p><%= t :manage_your_accounts %></p>

  <ul>
    <% @authorizations.each do |auth| %>
    <li>
      <%= auth.provider.humanize %>:
      <%= link_to(t(:disconnect), authorization_path(auth), method: :delete) %>
    </li>
    <% end %>
  </ul>
</div>
